.footer {
    text-align: center;
}

.formularioMapa {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container img {
    height: 250px;
    width: 415px;
}

.container {
    text-align: center;
}